name: CI - Build and Test
on:
  push:
    branches:
      - main

    pull_request:
      branches:
        -main
jobs:
  build:
    runs-on: ubuntu_latest
    steps:
       - name: Checkout repository
         uses: actions/checkout@v4

       - name: Setup JDK 21
         uses: actions/setup-java@v4
         with:
           distribution: 'temurin'
           java-version: '21'

       - name: Build with
         run: ./gradlew clean build

       - name: Run Test
         run: ./gradlew test